@import '../styling/variables.scss';

// GENERAL CLASSES
.box {
  background-color: $dark-grey-two;
  padding: $spacing-xl;
  border-radius: 7px;
}

.custom-button {
  display: flex;
  justify-content: space-between;
  min-height: 34px;

  svg {
    justify-self: center;
    align-self: center;
  }
}