// COLORS
$dark: #18191a;
$dark-grey: #212223;
$dark-grey-two: #222222;
$grey: #424242;
$light-grey: #8b8b8c;
$zinc: #3f3f46;
$white: #fff;
$red: #ef2e2e;
$green: #63c840;
$blue: #408cff;
$blue-two: #0077ff;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1100px;