// COLORS
$dark: #18191a;
$dark-grey: #212223;
$grey: #8b8b8c;
$white: #fff;
$red: #ef2e2e;
$green: #63c840;
$blue: #408cff;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;