@import '../../assets/styling/variables.scss';

.profile {

  .profile-box-header {
    font-weight: bold;
  }

  .profile-section {
    width: 100%;

    .profile-section-right {}

    .profile-friends {
      display: flex;
      flex-direction: column;

      .profile-friends-list {
        display: flex;

        .profile-friend {
          width: 70px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .short-info {
    .short-info-header {
      display: flex;

      .avatar {
        width: 150px;
        border-radius: 50%;
      }

      .short-info-data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-end;

        .full-name {
          font-size: 2rem;
          font-weight: bold;
        }

        .short-info-buttons {
          display: flex;
          flex-direction: row;

          .short-info-friend-settings {
            display: flex;
            flex-direction: column;
            background-color: $dark-grey-two;
            position: relative;

            .short-info-friend-settings-dropdown {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 34px;
              right: 0;
              padding: $spacing-md;
              margin: $spacing-xs;
              border-radius: 0.5rem;

              button {
                background-color: transparent;
                border: none;
                color: $white;
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}