@import '../../assets/styling/variables.scss';

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .auth-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
}